<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <% include ../static/partials/navbar.ejs %>

    <main class="container">
      <section class="headShowRating">
        <h1 class="form-group showRatingTitle" id="show-rating-title">
          Your Rating Details
        </h1>

        <form
          style="display:initial"
          action="/wines/<%= rating.wineId %>/ratings/<%= rating.id %>/destroy"
          method="POST"
          id="buttonsShowRating"
        >
          <a
            href="/wines/<%= rating.wineId %>/ratings/<%= rating.id %>/edit"
            class="btn btn-warning editShowRating"
            >Edit</a
          >
          <button type="submit" class="btn btn-danger delShowRating">
            Delete
          </button>
        </form>
      </section>

      <table class="table showRatingTable">
        <thead class="thead-dark">
          <tr>
            <th scope="col" style="width: 50%">Wine Characteristics</th>
            <th scope="col" style="width: 50%">Rating</th>
          </tr>
        </thead>
        <tbody>
          <tr class="tableRow">
            <th scope="row">Price / Quality</th>
            <td id="poqRating">
              <span class="badge badge-dark"><%= rating.poq %></span>
            </td>
          </tr>
          <tr class="tableRow">
            <th scope="row">Wine Body</th>
            <td id="bodyRating">
              <span class="badge badge-dark"><%= rating.poq %></span>
            </td>
          </tr>
          <tr class="tableRow">
            <th scope="row">Wine Taste</th>
            <td id="tasteRating">
              <span class="badge badge-dark"><%= rating.taste %></span>
            </td>
          </tr>
          <tr class="tableRow">
            <th scope="row">Bottle Looks</th>
            <td id="looksRating">
              <span class="badge badge-dark"><%= rating.looks %></span>
            </td>
          </tr>
          <tr class="tableRow">
            <th scope="row">Average Rating</th>
            <td id="avgRatedRating">
              <span class="badge badge-dark"
                ><%= rating.avgRating >= 10.0 ? rating.avgRating =
                parseInt(rating.avgRating) : rating.avgRating =
                parseFloat(rating.avgRating).toFixed(1) %></span
              >
            </td>
          </tr>
        </tbody>
      </table>

      <div class="form-group">
        <textarea rows="3" class="form-control" name="comments" readonly>
<%= rating.comments %></textarea
        >
      </div>

      <% include ../static/partials/footer.ejs %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
