<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>
    <%include ../static/partials/navbar.ejs %>
    <main class="container">
      <h1><%= wine.name %></h1>
      <img src="../../images/wines/<%= wine.picture %>" alt="wine image" height="190" width="100"></img>
      <p>Country: <%= wine.country %></p>
      <p>Price: <%= wine.price %></p>
      <p>Grape variety: <%= wine.variety %></p>
      <p>Alcohol percentage: <%= wine.alcohol %></p>
      <h1>UVA's rating</h1>
      <p>Price / Quality: <%= wine.poq %></p>
      <p>Wine body: <%= wine.body %></p>
      <p>Wine taste: <%= wine.taste %></p>
      <p>Bottle looks: <%= wine.looks %></p>
      <p>Comments: <%= wine.comments %></p>
      <p>Average Rating: <%= parseFloat((wine.poq + wine.body + wine.taste + wine.looks) / 4).toFixed(1) %></p>
      <a href="/wines/<%= wine.id %>/edit" class="btn btn-warning">Edit</a>
      <form
        style="display:initial"
        action="/wines/<%= wine.id %>/destroy"
        method="POST"
      >
        <button type="submit" class="btn btn-danger">Delete</button>
      </form>
      <section class="ratingsList">
        <!-- Ratings will be rendered in the following section tag-->
        <h1>Our Members Ratings</h1>
        <ul>
          <% let i = 1; %>
          <% wine.ratings.forEach((rating) => { %>
            <li class="list-group-item">
              <a href="/wines/<%= wine.id %>/ratings/<%= rating.id %>">Rated <%= parseFloat(rating.avgRating).toFixed(1); %> by...</a>
            </li>
            <% i++; %>
          <% })%>
        </ul>
        <a href="/wines/<%= wine.id %>/ratings/new" class="btn btn-success">Rate It!</a>
      </section>
      <% include ../static/partials/footer.ejs %>
    </main>
    <% include ../static/partials/baseScripts.ejs %>
  </body>
</html>
